<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.josiassena.movielist">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".app.App"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name=".splash.SplashActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/FullscreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".main.view.MainActivity"
            android:label="@string/title_activity_main"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".movies.view.MoviesActivity"
            android:label="@string/title_activity_movies"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.josiassena.movielist.main.view.MainActivity" />
        </activity>

        <activity
            android:name=".movie_info.view.MovieInfoActivity"
            android:label="@string/title_activity_movie_info"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".full_screen_image.view.FullScreenImageActivity"
            android:theme="@style/AppTheme.NoActionBar.FullScreen" />

        <receiver
            android:name=".movie_info.receiver.PosterDownloadBroadcastReceiver"
            android:enabled="true"
            android:exported="false" />

    </application>

</manifest>